<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title> EDIT EMPLEADOS</title>
</head>
<body>

  
  <%- include("./templates/navbar.ejs")  %> 
  
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-5 offset-md-3 card">
            <div class="card-body">
              <form action="/update/<%= data.id %>" method="POST">
                <div class="form-group">
                  <input type="text" name="nombre_completo" value="<%= data.nombre_completo%>" placeholder="Nombre" class="form-control" autofocus>
                </div>
                <div class="form-group">
                  <input type="email" name="correo_electronico" value="<%= data.correo_electronico%>" placeholder="email" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" name="contraseña" value="<%= data.contraseña%>" placeholder="contraseña" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" name="rol_empleado" value="<%= data.rol_empleado%>" placeholder="Rol" class="form-control">
                </div>
      
                <button type="submit" class="btn btn-primary">
                  Guardar empleado
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
</body>
</html>